<%= form_for(@holiday) do |f| %>
  <% if @holiday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@holiday.errors.count, "error") %> prohibited this holiday from being saved:</h2>

      <ul>
      <% @holiday.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container"> 
    <div id="forms" class="col-lg-8 col-lg-offset-2">

      <div class="panel panel-primary">

        <div id="titulo" class="panel-heading">
          <h1><b><%= @title %></b></h1>
        </div>

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="field">
              <%= f.text_field :customer_name, class: "form-control", id: "field", :placeholder => 'Customer name' %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="field">
              <%= f.email_field :customer_email, class: "form-control", id: "field", :placeholder => 'Customer email' %>
            </div>
          </div>
        </div>

        <div class="elements">
          <%= f.label "Country" %><br>
          <%= f.select :customer_country, [['Argentina'],['USA']] %>
        </div>

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="field">
              <%= f.text_field :customer_province, class: "form-control", id: "field", :placeholder => 'Customer province/state' %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="field">
            <%= f.label "Holiday date" %><br>
            <%= f.date_select :date, :start_year => Date.current.year, :end_year => Date.current.year+5 %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="field">
              <%= f.label "Reminder" %><br>
              <%= f.text_area :reminder, class: "form-control", id: "text_area" %>
            </div>
          </div>
        </div>
            
         <div class="field">
          <%= f.label "Notify?" %>
          <%= f.check_box :notifications %>
        </div> 

        <div class="actions">
          <div class="row">
            <div>
              <%= f.submit @buttonName, class: "btn btn-primary" %>
              <%= link_to 'Back', holidays_path, class: "btn btn-primary", id:"btn-primary" %>
            </div>
          </div>
        </div>

      </div>
    </div> 
  </div>    
<% end %>
