<div class="title">
  <h1><span class="label label-primary">Resend confirmation instructions</span></h1>
</div>

<div class="row">
  <% if resource.errors.empty? %>
  <% else %>  
    <div class="alert alert-danger">
          <%= devise_error_messages! %>
    </div>
  <% end %>
</div> 

<div class="sign_in">
  <div class="col-lg-4 col-lg-offset-4">
    <div id="form">

		<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
		  
		  <div class="elements">
		  <%= f.email_field :email, autofocus: true, :placeholder => "Email", class: "form-control" %></div>

		  <div class="elements"><%= f.submit "Resend confirmation instructions", class: "btn btn-primary" %></div>

		  <%= render "devise/shared/links" %>

		<% end %>

  	</div>
  </div>  
</div> 