<div class="title">
  <h1><span class="label label-primary">Change your password</span></h1>
</div>

<div class="row">
  <% if resource.errors.empty? %>
  <% else %>  
    <div class="alert alert-danger">
          <%= devise_error_messages! %>
    </div>
  <% end %>
</div>

<div class="sign_in">
  <div class="col-lg-4 col-lg-offset-4">
    <div id="form">

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>

			<%= f.hidden_field :reset_password_token %>

		  	<div class="elements">
    		<%= f.password_field :password, autofocus: true, autocomplete: "off", :placeholder => "New password", class: "form-control" %></div>

		  	<div class="elements">
		    <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Confirm new password", class: "form-control" %></div>

		 	 <div class="elements"><%= f.submit "Change my password", class: "btn btn-primary" %></div>
			

			<%= render "devise/shared/links" %>

		<% end %>
  	</div>
  </div>  
</div> 


